## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [4]:
# View the column names in the data
print("Column names:", df.columns.tolist())

Column names: ['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id', 'order_date', 'order_week', 'order_year', 'item_id', 'category', 'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty', 'line_number']

In [5]:
# Use the describe function to gather some basic statistics
pd.set_option('display.width', 1000)  # Adjust as necessary for your display
pd.set_option('display.max_columns', None)  # Ensure all columns are shown
statistics = df.describe()
print(statistics)

          client_id      order_id    order_week    order_year    unit_price     unit_cost   unit_weight           qty   line_number
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000  54639.000000  54639.000000  5.463900e+04  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207     99.446073      5.004116  5.702646e+02      2.979667
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135    133.164267      5.326599  1.879552e+04      2.436320
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000      0.010000      0.000000  0.000000e+00      0.000000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000     14.840000      1.450000  3.200000e+01      1.000000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000     49.890000      3.240000  6.800000e+01      3.000000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000    125.570000      6.890000  1.700000e+02      5.000000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000    846.270000     46.430000  3.958244e+06      9.000000

In [6]:
# Use this space to do any additional research
# and familiarize yourself with the data.

# Display the first few rows to get a feel for the data
print("First few rows of the dataset:")
print(df.head())

# Display the data types of each column to understand what kind of data you're working with
print("\nData types of each column:")
print(df.dtypes)

# Check for missing values in each column
print("\nMissing values in each column:")
print(df.isnull().sum())

First few rows of the dataset:
       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1

Data types of each column:
first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object

Missing values in each column:
first          0
last           0
job            0
phone          0
email          0
client_id      0
order_id       0
order_date     0
order_week     0
order_year     0
item_id        0
category       0
subcategory    0
unit_price     0
unit_cost      0
unit_weight    0
qty            0
line_number    0
dtype: int64

In [7]:
# What three item categories had the most entries?

category_counts = df['category'].value_counts()

# Select the top three categories
top_three_categories = category_counts.head(3)

# Display the top three categories
print("Top three item categories with the most entries:")
print(top_three_categories)

Top three item categories with the most entries:
category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [8]:
# For the category with the most entries,



top_category = df['category'].value_counts().idxmax()

# Filter the dataset for only rows belonging to the top category
top_category_data = df[df['category'] == top_category]

# Count the occurrences of each subcategory within the top category
subcategory_counts = top_category_data['subcategory'].value_counts()

# # Identify the category with the most entries
top_category = df['category'].value_counts().idxmax()

# Filter the dataset for only rows belonging to the top category
top_category_data = df[df['category'] == top_category]

# Count the occurrences of each subcategory within the top category
subcategory_counts = top_category_data['subcategory'].value_counts()

# Identify the subcategory with the most entries
top_subcategory = subcategory_counts.idxmax()



# Display the results
print(f"The category with the most entries is: {top_category}")
print(f"Within '{top_category}', the subcategory with the most entries is: {top_subcategory} with {subcategory_counts[top_subcategory]} entries.")

The category with the most entries is: consumables
Within 'consumables', the subcategory with the most entries is: bathroom supplies with 6424 entries.

In [9]:
# Which five clients had the most entries in the data?

# Assuming 'ClientID' is the column that identifies each client
# Count the occurrences of each client and sort them in descending order
client_counts = df['client_id'].value_counts()

# Select the top five clients
top_five_clients = client_counts.head(5)

# Display the top five clients
print("Top five clients with the most entries:")
print(top_five_clients)

Top five clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [10]:
# Store the client ids of those top 5 clients in a list.
# Select the top five clients
top_five_clients = client_counts.head(5)

# Get the client IDs of the top five clients and convert to a list
top_five_client_ids = top_five_clients.index.tolist()

# Display the list of top five client IDs
print("Client IDs of the top five clients with the most entries:")
print(top_five_client_ids)

Client IDs of the top five clients with the most entries:
[33615, 66037, 46820, 38378, 24741]

In [11]:
# How many total units (the qty column) did the
# client with the most entries order order?
top_client_id = df['client_id'].value_counts().idxmax()
# Filter the DataFrame for entries belonging to the top client
top_client_data = df[df['client_id'] == top_client_id]

# Sum up the 'qty' column for the top client's data
total_units_ordered = top_client_data['qty'].sum()

# Display the result
print(f"Total units ordered by the client with the most entries (Client ID {top_client_id}):")
print(total_units_ordered)

Total units ordered by the client with the most entries (Client ID 33615):
64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [12]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df['subtotal'] = df['unit_price'] * df['qty']
print(df.head())

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number   subtotal
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1  115164.00
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0     523.95
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6     527.28
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3    1056.18
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1    3902.00

In [13]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
df['total_weight'] = df['unit_weight'] * df['qty']
df['shipping_price'] = np.where(df['total_weight'] > 50, df['total_weight'] * 7, df['total_weight'] * 10)
print(df.head())

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number   subtotal  total_weight  shipping_price
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1  115164.00        787.50         5512.50
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0     523.95         31.29          312.90
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6     527.28         65.52          458.64
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3    1056.18         35.67          356.70
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1    3902.00        928.60         6500.20

In [14]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

sales_tax_rate = 0.0925
df['total_price'] = (df['subtotal'] + df['shipping_price']) * (1 + sales_tax_rate)
print(df.head())

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number   subtotal  total_weight  shipping_price    total_price
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1  115164.00        787.50         5512.50  131839.076250
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0     523.95         31.29          312.90     914.258625
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6     527.28         65.52          458.64    1077.117600
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3    1056.18         35.67          356.70    1543.571400
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1    3902.00        928.60         6500.20   11364.403500

In [16]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
print(df.head())

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number   subtotal  total_weight  shipping_price    total_price  line_cost
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1  115164.00        787.50         5512.50  131839.076250   85597.05
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0     523.95         31.29          312.90     914.258625     629.79
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6     527.28         65.52          458.64    1077.117600     765.18
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3    1056.18         35.67          356.70    1543.571400    1077.35
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1    3902.00        928.60         6500.20   11364.403500    8663.60

In [19]:
# Create a column for the profit of
# each line using line cost and line price

df['profit'] = df['total_price'] - df['line_cost']
print(df.head())

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number   subtotal  total_weight  shipping_price    total_price  line_cost        profit
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1  115164.00        787.50         5512.50  131839.076250   85597.05  46242.026250
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0     523.95         31.29          312.90     914.258625     629.79    284.468625
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6     527.28         65.52          458.64    1077.117600     765.18    311.937600
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3    1056.18         35.67          356.70    1543.571400    1077.35    466.221400
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1    3902.00        928.60         6500.20   11364.403500    8663.60   2700.803500

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [20]:
# Check your work using the totals above
order_totals = df.groupby('order_id')['total_price'].sum().reset_index()
order_ids_to_check = [2742071, 2173913, 6128929]
for order_id in order_ids_to_check:
    calculated_total = order_totals.loc[order_totals['order_id'] == order_id, 'total_price'].iloc[0]
    print(f"Calculated total price for Order ID {order_id}: ${calculated_total:,.2f}")

Calculated total price for Order ID 2742071: $152,811.90
Calculated total price for Order ID 2173913: $162,388.72
Calculated total price for Order ID 6128929: $923,441.24

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [28]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
top_5_client_ids = [33615, 66037, 46820, 38378, 24741]
total_spending_by_top_clients = df[df['client_id'].isin(top_5_client_ids)] \
    .groupby('client_id')['total_price'].sum()
for client_id in top_5_client_ids:  # Ensures order matches your list
    spending = total_spending_by_top_clients.loc[client_id]
    print(f"{client_id}: ${spending:,.2f}")

33615: $8,377,308.57
66037: $10,259,514.80
46820: $9,743,794.32
38378: $12,906,550.88
24741: $82,268,891.98

In [35]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

top_5_client_ids = [33615, 66037, 46820, 38378, 24741]
ttop_5_df = df[df['client_id'].isin(top_5_client_ids)]
summary = top_5_df.groupby('client_id').agg(
    total_units_purchased=('qty', 'sum'),
    total_shipping_price=('shipping_price', 'sum'),
    total_revenue=('total_price', 'sum'),
    total_profit=('profit', 'sum')
).reset_index()
summary_sorted = summary.sort_values(by='total_profit', ascending=False)
formatted_summary = summary_sorted.style.format({
    'total_units_purchased': '{:,.2f}',
    'total_shipping_price': '${:,.2f}',
    'total_revenue': '${:,.2f}',
    'total_profit': '${:,.2f}'
})
formatted_summary

In [37]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
summary_for_presentation = summary_sorted.rename(columns={
    'client_id': 'Client ID',
    'total_units_purchased': 'Total Units Purchased',
    'total_shipping_price': 'Total Shipping Price (M$)',
    'total_revenue': 'Total Revenue (M$)',
    'total_profit': 'Total Profit (M$)'
    })
summary_for_presentation['Total Shipping Price (M$)'] = summary_for_presentation['Total Shipping Price (M$)'].apply(lambda x: f"${x / 1_000_000:.2f}M")
summary_for_presentation['Total Revenue (M$)'] = summary_for_presentation['Total Revenue (M$)'].apply(lambda x: f"${x / 1_000_000:.2f}M")
summary_for_presentation['Total Profit (M$)'] = summary_for_presentation['Total Profit (M$)'].apply(lambda x: f"${x / 1_000_000:.2f}M")
print(summary_for_presentation)

   Client ID  Total Units Purchased Total Shipping Price (M$) Total Revenue (M$) Total Profit (M$)
0      24741                 239862                    $5.13M            $82.27M           $36.58M
2      38378                  73667                    $3.43M            $12.91M            $3.27M
4      66037                  43018                    $1.40M            $10.26M            $3.26M
3      46820                  75768                    $1.60M             $9.74M            $2.74M
1      33615                  64313                    $1.83M             $8.38M            $2.20M

In [38]:
# Sort the updated data by "Total Profit" form highest to lowest
summary_sorted_by_profit = summary_sorted.sort_values(by='total_profit', ascending=False)
summary_for_presentation = summary_sorted_by_profit.rename(columns={
    'client_id': 'Client ID',
    'total_units_purchased': 'Total Units Purchased',
    'total_shipping_price': 'Total Shipping Price (M$)',
    'total_revenue': 'Total Revenue (M$)',
    'total_profit': 'Total Profit (M$)'
})
summary_for_presentation['Total Shipping Price (M$)'] = summary_for_presentation['Total Shipping Price (M$)'].apply(lambda x: f"${x / 1_000_000:.2f}M")
summary_for_presentation['Total Revenue (M$)'] = summary_for_presentation['Total Revenue (M$)'].apply(lambda x: f"${x / 1_000_000:.2f}M")
summary_for_presentation['Total Profit (M$)'] = summary_for_presentation['Total Profit (M$)'].apply(lambda x: f"${x / 1_000_000:.2f}M")
print(summary_for_presentation)

   Client ID  Total Units Purchased Total Shipping Price (M$) Total Revenue (M$) Total Profit (M$)
0      24741                 239862                    $5.13M            $82.27M           $36.58M
2      38378                  73667                    $3.43M            $12.91M            $3.27M
4      66037                  43018                    $1.40M            $10.26M            $3.26M
3      46820                  75768                    $1.60M             $9.74M            $2.74M
1      33615                  64313                    $1.83M             $8.38M            $2.20M

In [ ]:
# Write a brief 2-3 sentence summary of your findings.
# My findings are -
#The analysis reveals significant variance in spending among the top 5 clients, with client 24741 contributing the most at approximately $82.27 million. 
#Client 38378 emerges as the most profitable, indicating the strategic importance of these clients to overall business success. 
#This underscores the need for targeted engagement and personalized strategies to sustain and grow these key client relationships.