## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [246]:
import pandas as pd

df = pd.read_csv('client_dataset.csv')

df.head()

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1

In [247]:
# View the column names in the data
print(df.columns.tolist())

['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id', 'order_date', 'order_week', 'order_year', 'item_id', 'category', 'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty', 'line_number']

In [248]:
# Use the describe function to gather some basic statistics
basic_statistics = df.describe()
formatted_stats = basic_statistics.applymap("{0:.2f}".format)
print(formatted_stats.to_string())

      client_id    order_id order_week order_year unit_price unit_cost unit_weight         qty line_number
count  54639.00    54639.00   54639.00   54639.00   54639.00  54639.00    54639.00    54639.00    54639.00
mean   54837.87  5470190.03      11.36    2022.99     136.27     99.45        5.00      570.26        2.98
std    25487.44  2599806.93       7.02       0.08     183.87    133.16        5.33    18795.52        2.44
min    10033.00  1000886.00       1.00    2022.00       0.01      0.01        0.00        0.00        0.00
25%    33593.00  3196372.00       6.00    2023.00      20.80     14.84        1.45       32.00        1.00
50%    53305.00  5496966.00      11.00    2023.00      68.31     49.89        3.24       68.00        3.00
75%    78498.00  7733869.00      17.00    2023.00     173.16    125.57        6.89      170.00        5.00
max    99984.00  9998480.00      52.00    2023.00    1396.23    846.27       46.43  3958244.00        9.00

C:\Users\sharm\AppData\Local\Temp\ipykernel_23044\863724758.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  formatted_stats = basic_statistics.applymap("{0:.2f}".format)

In [249]:
# Use this space to do any additional research
# and familiarize yourself with the data.
# Display the first few rows to understand the dataset's layout
print(df.head())

# Display the data types of each column to identify data types
print(df.dtypes)

# Check for missing values in each column
print(df.isnull().sum())

# Get a count of unique values in each column to find diversity or identify categorical variables
print(df.nunique())

# Display the frequency of categories to understand the distribution of categorical data
# Assuming 'category' is one of the columns
print(df['category'].value_counts())

# Explore a few entries for each categorical variable to see example entries
# Replace 'category' and 'subcategory' with the actual column names of your categorical data
for col in ['category', 'subcategory']:
    print(f"Unique entries in {col}:")
    print(df[col].unique())
# Summarize key quantitative information
# For example, summarizing total quantity and unit price
print("Summary of quantities:")
print(df['qty'].agg(['sum', 'mean', 'std']))

print("Summary of unit prices:")
print(df['unit_price'].agg(['sum', 'mean', 'std']))

# Inspect any particular order or client with many entries
# Replace 'order_id' and 'client_id' with actual values you wish to inspect
print("Details of a specific order:")
print(df[df['order_id'] == 123456789])  # replace with an actual order_id

print("Entries for a specific client:")
print(df[df['client_id'] == 12345])  # replace with an actual client_id

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1
first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object
first          0
last           0
job            0
phone          0
email          0
client_id      0
order_id       0
order_date     0
order_week     0
order_year     0
item_id        0
category       0
subcategory    0
unit_price     0
unit_cost      0
unit_weight    0
qty            0
line_number    0
dtype: int64
first            360
last             477
job              498
phone            999
email            999
client_id        999
order_id       10000
order_date       150
order_week        23
order_year         2
item_id          500
category           5
subcategory       18
unit_price       490
unit_cost        487
unit_weight      393
qty             2911
line_number       10
dtype: int64
category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64
Unique entries in category:
['decor' 'consumables' 'software' 'furniture' 'electronics']
Unique entries in subcategory:
['wall art' 'pens' 'project management' 'misc' 'plants' 'kitchen supplies'
 'paper products' 'seating' 'computers' 'stands' 'tables'
 'bathroom supplies' 'audio visual' 'accounting' 'logistics' 'telecom'
 'desks' 'cabling']
Summary of quantities:
sum     3.115869e+07
mean    5.702646e+02
std     1.879552e+04
Name: qty, dtype: float64
Summary of unit prices:
sum     7.445504e+06
mean    1.362672e+02
std     1.838731e+02
Name: unit_price, dtype: float64
Details of a specific order:
Empty DataFrame
Columns: [first, last, job, phone, email, client_id, order_id, order_date, order_week, order_year, item_id, category, subcategory, unit_price, unit_cost, unit_weight, qty, line_number]
Index: []
Entries for a specific client:
Empty DataFrame
Columns: [first, last, job, phone, email, client_id, order_id, order_date, order_week, order_year, item_id, category, subcategory, unit_price, unit_cost, unit_weight, qty, line_number]
Index: []

In [250]:
# What three item categories had the most entries?
top_three_categories = df['category'].value_counts().head(3)
print(top_three_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [251]:
# For the category with the most entries,
# which subcategory had the most entries?

top_category = df['category'].value_counts().idxmax()
top_subcategory = df[df['category'] == top_category]['subcategory'].value_counts().idxmax()
print(f"In the top category '{top_category}', the subcategory with the most entries is: {top_subcategory}")

In the top category 'consumables', the subcategory with the most entries is: bathroom supplies

In [252]:
# Which five clients had the most entries in the data?

top_five_clients = df['client_id'].value_counts().head(5)
print(top_five_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [253]:
# Store the client ids of those top 5 clients in a list.
top_five_client_ids = top_five_clients.index.tolist()
print("Client IDs of the top five clients with the most entries:", top_five_client_ids)

Client IDs of the top five clients with the most entries: [33615, 66037, 46820, 38378, 24741]

In [254]:
# How many total units (the qty column) did the
# client with the most entries order order?

top_client_id = df['client_id'].value_counts().idxmax()
total_units_top_client = df[df['client_id'] == top_client_id]['qty'].sum()
print(f"Total units ordered by the top client (Client ID: {top_client_id}): {total_units_top_client}")

Total units ordered by the top client (Client ID: 33615): 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [255]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df['subtotal'] = df['unit_price'] * df['qty']
print("Subtotals added to DataFrame:")
print(df[['unit_price', 'qty', 'subtotal']].head())

Subtotals added to DataFrame:
   unit_price  qty   subtotal
0     1096.80  105  115164.00
1       24.95   21     523.95
2       13.52   39     527.28
3       36.42   29    1056.18
4      195.10   20    3902.00

In [256]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
# shipping price must show the total shipping price.

df['shipping_price'] = df.apply(lambda x: (x['unit_weight'] * x['qty']) * 7 if (x['unit_weight'] * x['qty']) > 50 else (x['unit_weight'] * x['qty']) * 10, axis=1)
print(df[['unit_weight', 'qty', 'shipping_price']].head())

   unit_weight  qty  shipping_price
0         7.50  105         5512.50
1         1.49   21          312.90
2         1.68   39          458.64
3         1.23   29          356.70
4        46.43   20         6500.20

In [257]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

# Apply the sales tax to the sum of 'subtotal' and 'shipping_price' to get the 'total_price'
df['total_price'] = (df['subtotal'] + df['shipping_price']) * (1 + 0.0925)
print(df[['subtotal', 'shipping_price', 'total_price']].head())

    subtotal  shipping_price    total_price
0  115164.00         5512.50  131839.076250
1     523.95          312.90     914.258625
2     527.28          458.64    1077.117600
3    1056.18          356.70    1543.571400
4    3902.00         6500.20   11364.403500

In [258]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
pd.set_option('display.max_columns', None)
print(df.head())

       first      last                    job               phone                                email  client_id  order_id  order_date  order_week  order_year         item_id     category         subcategory  unit_price  unit_cost  unit_weight  qty  line_number   subtotal  shipping_price    total_price  line_cost
0     Donald   Harding           Immunologist  793-904-7725x39308     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28          17        2023  EUD29711-63-6U        decor            wall art     1096.80     762.71         7.50  105            1  115164.00         5512.50  131839.076250   85597.05
1    Tiffany     Myers        Music therapist    201.442.4543x942    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19          20        2023  XDA18116-89-4A  consumables                pens       24.95      15.09         1.49   21            0     523.95          312.90     914.258625     629.79
2    Shannon    Watson           Immunologist   687.737.9424x8503                swatson8146@payne.net      57113   1902144  2023-01-29           4        2023  ABE59463-05-7E     software  project management       13.52       7.86         1.68   39            6     527.28          458.64    1077.117600     765.18
3     Nathan     Baker  Accounting technician    827-788-8123x012               bakernathan@benson.com      46554   9031802  2023-04-25          17        2023  ZMM00836-65-0C  consumables                pens       36.42      24.85         1.23   29            3    1056.18          356.70    1543.571400    1077.35
4  Christina  Schwartz           Chiropractor        265-829-3643  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28          21        2023  BZX55559-12-3X  consumables                misc      195.10     108.17        46.43   20            1    3902.00         6500.20   11364.403500    8663.60

In [259]:
# Create a column for the profit of
# each line using line cost and line price


df['profit'] = df['total_price'] - df['line_cost']


print(df[['total_price', 'line_cost', 'profit']].head())

     total_price  line_cost        profit
0  131839.076250   85597.05  46242.026250
1     914.258625     629.79    284.468625
2    1077.117600     765.18    311.937600
3    1543.571400    1077.35    466.221400
4   11364.403500    8663.60   2700.803500

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [260]:
# Check your work using the totals above
# Calculate the sum of 'total_price' for each of the provided order IDs
order_totals = df.groupby('order_id')['total_price'].sum()

# Now we'll check each one against the provided totals
orders_to_check = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

# Iterate over the orders and compare the calculated totals to the provided totals
for order_id, provided_total in orders_to_check.items():
    calculated_total = order_totals.get(order_id, None)
    if calculated_total is not None:
        print(f"Order ID {order_id}: Calculated total is ${calculated_total:.2f}, Provided total is ${provided_total:.2f}.")
        if abs(calculated_total - provided_total) < 0.01:
            print("The totals match!\n")
        else:
            print("The totals do not match!\n")
    else:
        print(f"Order ID {order_id} not found in the dataset.\n")

Order ID 2742071: Calculated total is $152811.90, Provided total is $152811.89.
The totals match!

Order ID 2173913: Calculated total is $162388.72, Provided total is $162388.71.
The totals match!

Order ID 6128929: Calculated total is $923441.24, Provided total is $923441.25.
The totals match!

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [261]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
# Provided top 5 client IDs by quantity
top_5_client_ids = [33615, 66037, 46820, 38378, 24741]

# Calculate how much each of the top 5 clients spent
spending_by_top_clients = df[df['client_id'].isin(top_5_client_ids)].groupby('client_id')['total_price'].sum()

# Display the spending for each of the top 5 clients
print("Spending by top 5 clients:")
for client_id in top_5_client_ids:
    spending = spending_by_top_clients.loc[client_id]
    print(f"Client ID {client_id} spent: ${spending:.2f}")

Spending by top 5 clients:
Client ID 33615 spent: $8377308.57
Client ID 66037 spent: $10259514.80
Client ID 46820 spent: $9743794.32
Client ID 38378 spent: $12906550.88
Client ID 24741 spent: $82268891.98

In [262]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

top_5_client_ids = [33615, 66037, 46820, 38378, 24741]


top_5_df = df[df['client_id'].isin(top_5_client_ids)]


summary_df = top_5_df.groupby('client_id').agg(
    total_units_purchased=('qty', 'sum'),
    total_shipping_price=('shipping_price', 'sum'),
    total_revenue=('total_price', 'sum'),
    total_profit=('profit', 'sum')
).reset_index()


formatted_summary = summary_sorted_by_profit.style.format({
    'total_units_purchased': '{:.2f}',
    'total_shipping_price': '{:.2f}',
    'total_revenue': '{:.2f}',
    'total_profit': '{:.2f}'
})

formatted_summary

In [265]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
df['Profit (M$)'] = df['profit'] / 1_000_000
df['Profit (M$)'] = df['Profit (M$)'].round(2)

df.rename(columns={'client_id': 'Client ID', 'qty': 'Units', }, inplace=True)

In [266]:
# Sort the updated data by "Total Profit" form highest to lowest
# Rename columns for presentation
# Sort the DataFrame by 'Profit (M$)' from highest to lowest
# Convert 'profit' and 'shipping_price' to millions and round to two decimal places for presentation
df['Profit (M$)'] = df['profit'] / 1_000_000
df['Shipping (M$)'] = df['shipping_price'] / 1_000_000

# Round values to two decimal places
df['Profit (M$)'] = df['Profit (M$)'].round(2)
df['Shipping (M$)'] = df['Shipping (M$)'].round(2)

# Rename columns for clarity and presentation
df.rename(columns={'client_id': 'Client ID', 'qty': 'Units'}, inplace=True)

# If 'total_price' and 'line_cost' are to be included and need to be converted to millions, add those here:
df['Total Revenue (M$)'] = df['total_price'] / 1_000_000
df['Total Cost (M$)'] = df['line_cost'] / 1_000_000

# Round values to two decimal places
df['Total Revenue (M$)'] = df['Total Revenue (M$)'].round(2)
df['Total Cost (M$)'] = df['Total Cost (M$)'].round(2)

# Now sort the DataFrame by 'Profit (M$)' in descending order
df_sorted_by_profit = df.sort_values(by='Profit (M$)', ascending=False)

# Select the relevant columns to display
df_final = df_sorted_by_profit[['Client ID', 'Units', 'Shipping (M$)', 'Total Revenue (M$)', 'Total Cost (M$)', 'Profit (M$)']]

# Display the first few rows to verify
print(df_final.head())

       Client ID    Units  Shipping (M$)  Total Revenue (M$)  Total Cost (M$)  Profit (M$)
21801      78965  3958244           2.49              641.26           398.75       242.51
15112      85931   637318           9.86              235.96           127.02       108.94
25972      86721   977121          63.06              176.07           134.44        41.63
23929      38473   219645           3.46              165.74           128.23        37.51
4063       24741   122166           1.59               63.31            31.88        31.43